---
---

@import "{{ site.theme }}";

@media screen and (min-width: 42em) and (max-width: 64em) {
section.page-header {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  }
}
